/* Counter with CSS */
body {
    counter-reset: score;
}


input[type="checkbox"]{
    appearance: none;
    cursor: pointer;
    height: 80px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 2;
    width: 80px;
}

input:focus{
    appearance: none;
    outline:none;
}

input:checked{
    counter-increment: score;
}
.score::after{
    content: counter(score)
}


/*.layer_1 input[type=checkbox] {
    animation-name: layer;
}*/
