

/* CAPAS */
body {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    width: 100%;
    text-align: center;
    font-family: 'Roboto' ,sans-serif;

}
.phone {
    position: relative;
    width: 375px;
    height: 700px;
    border: solid black 8px;
    border-radius: 50px;
    box-shadow: 7px 8px 20px 0 #868686;
    background-color: #ccefff;
    overflow: hidden;
}



/* Bunny */
.layer_1 {
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 520px;
    bottom: 0;
    left: 70px;

    animation-name: layer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes layer {
    0% {
        bottom: 0;
    }

    25% {
        bottom: 10;
    }

    100%{
        bottom: 0;
    }
}

.layer_1 input[type=checkbox] {
    animation-name: layer;
}

/* Bunny */
.layer_2 {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 520px;
    bottom: 0;
    right: 70px;
}

/* highest mountain */
.layer_3 {
    position: absolute;
    z-index: 3;
    width: 280px;
    height: 460px;
    background: #bb6d50;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 0 #868686;
    overflow: hidden;
}

/* Bunny */
.layer_4 {
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 380px;
    bottom: 0;
    left: 50px;
}

/* Middle Mountain */
.layer_5 {
    position: absolute;
    z-index: 5;
    width: 280px;
    height: 320px;
    background: #bb6d50;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 0 #000000af;
    overflow: hidden;
}

/* Bunny */
.layer_6 {
    position: absolute;
    z-index: 6;
    width: 80px;
    height: 250px;
    bottom: 0;
    right: 50px;
}

/* Lower Mountain */
.layer_7 {
    position: absolute;
    z-index: 7;
    width: 180px;
    height: 190px;
    background: #bb6d50;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 7px 8px 20px 0 #000000af;
    overflow: hidden;
}

/* Floor */
.layer_8 {
    position: absolute;
    z-index: 8;
    width: 240px;
    height: 130px;
    background: #66a167;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50px;
}

.grass {
    width: 120px;
    height: 120px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: -40px;
}

.grass::after {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: 90px;
    top: 30px;
}

.grass::before {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #66a167;
    border-radius: 50%;
    position: absolute;
    left: -70px;
    top: 30px;
}



/* Left cloud */
.layer_9 {
    position: absolute;
    z-index: 9;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    background: white;
    bottom: 0;
    left: -50px;
}

/* Right cloud */
.layer_10 {
    position: absolute;
    z-index: 10;
    width: 180px;
    height: 80px;
    border-radius: 50px;
    background: white;
    bottom: 0;
    right: -50px;
}

.layer_9::before,
.layer_10::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    top: -40px;
    left: 50px;
}


/* Zig Zag Mountain */
/* https://dev.to/cchana/explained-creating-a-zigzag-pattern-with-just-css-13g1 */

/* Green Zig Zag */
.layer_3::after,
.layer_5::after,
.layer_7::after {
    content: "";
    position: absolute; 
    left: -0px;
    top: 0px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #6aa067 25%, transparent 25%) -50px 0,
                linear-gradient(-135deg, #6aa067 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, #6aa067 25%, transparent 25%),
                linear-gradient(-45deg, #6aa067 25%, transparent 25%);
    background-size: 40px 100px;
    background-position: 140px 0 0 30px 0;
}

/* Brown Zig Zag */
.layer_3::before,
.layer_5::before,
.layer_7::before {
    content: "";
    position: absolute; 
    left: -0px;
    top: 15px;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, #a6543d 25%, transparent 25%) -50px 0,
                linear-gradient(-135deg, #a6543d 25%, transparent 25%) -50px 0,
                linear-gradient(45deg, #a6543d 25%, transparent 25%),
                linear-gradient(-45deg, #a6543d 25%, transparent 25%);
    background-size: 40px 100px;
    background-position: 140px 0 0 30px 0;
}





/*  Rabbit boddy */
.ear_left {
    position: absolute;
    background-color: white;
    border-radius: 90%;
    width: 25px;
    height: 60px;
    left: 5px;
}

.ear_left::before {
    content: "";
    position: absolute;
    background-color: #f9c7d1;
    width: 15px;
    height: 50px;
    left: 5px;
    top: 4px;
    border-radius: 90%;

}

.ear_right {
    position: absolute;
    background-color: white;
    border-radius: 90%;
    width: 25px;
    height: 60px;
    right: 5px;
}

.ear_right::before {
    content: "";
    position: absolute;
    background-color: #f9c7d1;
    width: 15px;
    height: 50px;
    left: 5px;
    top: 4px;
    border-radius: 90%;

}

.head {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 30px;
}

/* Left Eye */
.head::before {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 2.5px;
    width: 5px;
    height: 5px;
    left: 25px;
    top: 20px;

    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Right Eye */
.head::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 2.5px;
    width: 5px;
    height: 5px;
    right: 25px;
    top: 20px;
   
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        height: 5px;
    }

    10% {
        height: 1px;
        transform: translate(0px,2px);

    }

    30% {
    transform: translate(0px,0px);

        height: 5px;
    }


}